
body, html {
    margin: 0;
    height: 100%;
    padding: 0px;
    background-color: #efeee7;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    color:gray;
    font-size: 18px;
}

*{
    box-sizing: border-box;
}

.container {
    background-image: url("../Colosseum.JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
}

.content{
    width: 60%;
    background-color: white;
    color: black;
    padding: 24px;
    opacity: .8;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-weight: bold;
    text-align: center;

}
